<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hmm</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>

  <style>
    /* already defined in bootstrap4 */
    .text-xs-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
    }
    body {
      padding-top: 30px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

</style>

</head>

<body>
  <div class="container">

    <div class="starter-template">
      <h1 style = "font-weight: 300">Campus Dining Dollar Exchange</h1>
      <span class="badge badge-pill badge-success">Online</span>
      <br>
      <br>

      <div class="container">
        <div class="row">


          <div class="col">
          </div>

          <div class="col-sm-10 col-md-8 col-lg-6">

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-3">
                    <a href="http://localhost:3000" class="btn btn-light" style = "margin-top:9px;"><</a>
                  </div>
                  <div class="col-sm-10 col-md-8 col-lg-6">
                    <h3 class="card-title" style = "margin-top:10px;">Dinex</h3>
                  </div>
                </div>
                <hr>

                <p class="card-text" style = "text-align: left" id = "amount">Amount:</p>
                <p class="card-text" style = "text-align: left" id = "price">Price:</p>

                <p class="card-text" style = "text-align: left" id = "phone">Phone:</p>
                <p class="card-text" style = "text-align: left" id = "email">Email:</p>
                <a href="" class="btn btn-primary" target="_top" id = "call">Call</a>
                <a href="mailto:lijeffrey39@gmail.com?Subject=Hello%20again" class="btn btn-primary" target="_top" id = "emailSend">Send Email</a>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>

          </div>

          <div class="col">
          </div>
        </div>
      </div>

      <br>

    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script>


    function updateWeb(obj) {
      console.log(obj);
      var amount = document.getElementById("amount");
      amount.innerHTML = "Amount: " + obj.dinexAmount;

      var price = document.getElementById("price");
      price.innerHTML = "Price: $" + obj.dollarAmount;

      var phone = document.getElementById("phone");
      phone.innerHTML = "Phone: " + obj.number;

      var email = document.getElementById("email");
      email.innerHTML = "Email: " + obj.email;

      var call = document.getElementById("call");
      call.href = "tel:" + obj.number;

      var emailSend = document.getElementById("emailSend");
      emailSend.href = "mailto:" + obj.email + "?Subject=Hello%20again";
    }

    function processList(childData) {

      var cookie = document.cookie;
      var data = cookie.split(';')[1];
      data = data.substr(1);
      console.log(data);

      var arrAll = []

      Object.keys(childData).forEach(function(key) {
        var newObj = childData[key];

        Object.keys(newObj).forEach(function(newKey) {
          var eachObj = newObj[newKey];
          if (newKey == data) {
            updateWeb(eachObj);
          }
        });
      });
    }

    var config = {
      apiKey: "AIzaSyCBWNiZaCyyj1pZEeQJg4cOZejneQqLHhE",
      authDomain: "https://dinexchange-17441.firebaseio.com/",
      databaseURL: "https://dinexchange-17441.firebaseio.com",
      projectId: "dinexchange-17441",
      storageBucket: "dinexchange-17441.appspot.com",
      messagingSenderId: "14495238197"
    };
    firebase.initializeApp(config);

    var adding = firebase.database().ref('/');

    adding.on('value', function(snapshot) {
      adding.once('value', function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
          var childKey = childSnapshot.key;
          var childData = childSnapshot.val();

          processedList = processList(childData);
        });
      });
    });


  </script>
  <script>
    var name = {{ name }};
    console.log(name);
  </script>

</body>
</html>
